*{
    margin: 0;
    font-family: Open Sans;
}

.primary-color{
    color:#FD6E0A;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}